In [86]:
import numpy as np
import pandas as pd 
import tensorflow as tf 
import pickle 
from tensorflow.keras.models import load_model

In [87]:
## Load the trained model,scalar pickle file, one hot encoding file 

model = load_model('model.h5') 

#Load the encoder and scalar \
with open('one_hot_encoder_geography.pkl','rb') as file :
    one_hot_encoder_geography = pickle.load(file)

with open('scalar.pkl','rb') as file :
    scalar = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file :
    label_encoder_gender= pickle.load(file)

In [88]:
input_data = {
    'CreditScore':600,
    'Geography': 'France',
    'Gender':'Male',
    'Age':30,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary':50000

    }

input_data = pd.DataFrame([input_data])

In [89]:
geo_encoded = one_hot_encoder_geography.transform([input_data['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns= one_hot_encoder_geography.get_feature_names_out(['Geography']))
geo_encoded_df

d:\python\GenerativeAI\PROJECTS\annclassification\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [90]:
## Combine one hot encoded columns with input data 
input_data = pd.concat([input_data.reset_index(drop=True), geo_encoded_df] ,axis=1)

In [91]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,30,3,60000,2,1,1,50000,1.0,0.0,0.0

In [92]:
## Encode Categorical features 
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])

In [93]:
## Concatinate one hot encoded data 
input_data.drop('Geography', inplace=True,axis=1)

In [94]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,30,3,60000,2,1,1,50000,1.0,0.0,0.0

In [96]:
## Scale the input data 
input_data_scaled =scalar.transform(input_data)
input_scaled

array([[-0.53598516,  0.91324755, -0.84593077, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [ ]:
## Predit the churn 
prediction =model.predict(input_data_scaled)
print(prediction)

1/1 [==============================] - 0s 54ms/step
[[0.01010702]]

In [101]:
prediction_proba = prediction[0][0]
prediction_proba

0.010107023